
.App .container {
  margin-top: 30px;
  padding: 30px;
  background-color: #282c34;
  max-width: 600px;
  border: 1px solid white;
  border-radius: 10px;
  font-size: calc(10px + 2vmin);
  color: white;
}